 <h2><%= @kid.name.titleize %>! Welcome to Elm Street</h2>
 <h3> Enjoy Trick or Treatin'</h3><br><br>

<h4> Take your pick of these fine houses: </h4>

<ul>
<% @houses.each do |house| %>
<li>
  <ul>
<%= link_to house.name, house %>
    <em><div> << Trick or Treat! >></div>
  </ul>
</li>
<br>
<% end %>
</ul>


<%= link_to "Visited all the Houses? Add another!", new_house_path %>