 <h2> Welcome, <%= @kid.name.titleize %>, you are <%= @kid.age %> years old, that means you can trick or treat! </h2>

<h3> Take your pick of these fine houses: </h3>

    Haunted House <br>
    Spooky House <br>
    Gloomy House <br>
    Big-Candy House <br>