<h3><%= @house.name %></h3>

<h5>This house has these candies:</h5>
<ul>
<% @house.candies.each do |candy| %>
<li><%= candy.name %></li>
<% end %>
</ul>

<%= link_to "Tired of Hi-Chews? Run to the store and get something else.", edit_house_path(@house) %>